@page
@model WCSTrainer.Pages.Skills.CreateModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Create New Skill</p>
            <p class="description">Fill out each required field.</p>
            <div class="field-container">
               <form method="post">
                  <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Skill.Name" class="control-label"></label>
                           <span asp-validation-for="Skill.Name" class="text-danger"></span>
                        </div>
                        <input asp-for="Skill.Name" class="form-control" />
                     </div>
                     <div class="form">
                        <div class="labels">
                           <p class="control-label">Skill Category</p>
                           <span asp-validation-for="@Model.Skill.SkillCategoryId" class="text-danger"></span>
                        </div>
                        <select asp-for="@Model.Skill.SkillCategoryId" class="form-drop2" asp-items="@Model.CategorySelectList"></select>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="multi-select-wrapper">
                           <p class="label">Lesson</p>
                           <select multiple class="multi-select-comp" size="@Model.Lessons.Count()">
                              @foreach (var lesson in Model.Lessons) {
                                 <option value="@lesson.Id">@lesson.Name</option>
                              }
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Skill.Description" class="control-label"></label>
                           <span asp-validation-for="Skill.Description" class="text-danger"></span>
                        </div>
                        <textarea asp-for="Skill.Description" class="form-control"></textarea>
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="submit" value="Create" class="btn bg-btn btnGreen" />
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="~/js/pillMenu.js"></script>