@page
@model WCSTrainer.Pages.Skills.DetailsModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <div id="contentToPrint" class="print-block">
               <p class="title">@Model.Skill.Name</p>
               <div class="field-container">
                  <div class="field-section-container">
                     <div class="field-section">
                        <div class="title-row">
                           <p class="title">Details</p>
                        </div>
                        <table>
                           <tr>
                              <td class="label">Skill ID</td>
                              <td class="text">@Model.Skill.Id</td>
                           </tr>
                           <tr>
                              <td class="label">Name</td>
                              <td class="text">@Model.Skill.Name</td>
                           </tr>
                           <tr>
                              <td class="label">Description</td>
                              <td class="text">@Model.Skill.Description</td>
                           </tr>
                           <tr>
                              <td class="label">Included Lessons</td>
                              <td class="text">
                                 <div class="pills-container">
                                    @foreach (var lesson in Model.Skill.Lessons) {
                                       <a href="/Lessons/Details?id=@lesson.Id" class="pill">@lesson.Name</a>
                                    }
                                 </div>
                              </td>
                           </tr>
                        </table>
                     </div>
                     <div class="field-section">
                        <div class="title-row">
                           <p class="title">Assigned To</p>
                        </div>
                        <table>
                           <thead>
                              <tr>
                                 <th>Currently Learning</th>
                                 <th>learning Completed</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr>
                                 <td class="column">
                                    <div class="pills-container">
                                       @foreach (var person in Model.Skill.Employees) {
                                          bool isActive = false;
                                          foreach (var orderAsTrainee in person.TrainingOrdersAsTrainee) {
                                             if (orderAsTrainee.ParentSkillId == Model.Skill.Id) {
                                                if (orderAsTrainee.Status == "Active" || orderAsTrainee.Status == "Approving") {
                                                   isActive = true;
                                                }
                                             }
                                          }
                                          if (isActive) {
                                             <a href="/Employees/Details?id=@person.Id" class="pill">@person.FirstName @person.LastName</a>
                                          }
                                       }
                                    </div>
                                 </td>
                                 <td class="column">
                                    <div class="pills-container">
                                       @foreach (var person in Model.Skill.Employees) {
                                          bool isActive = false;
                                          foreach (var orderAsTrainee in person.TrainingOrdersAsTrainee) {
                                             if (orderAsTrainee.ParentSkillId == Model.Skill.Id) {
                                                if (orderAsTrainee.Status == "Active" || orderAsTrainee.Status == "Approving") {
                                                   isActive = true;
                                                }
                                             }
                                          }
                                          if (!isActive) {
                                             <a href="/Employees/Details?id=@person.Id" class="pill">@person.FirstName @person.LastName</a>
                                          }
                                       }
                                    </div>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
            <br />
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Skill.Id">Edit Skill</a>
               <a class="btn bg-btn btnBlue" asp-page="./Assign" asp-route-id="@Model.Skill.Id">Assign</a>
               <a class="btn bg-btn btnBlue" asp-page="./Unassign" asp-route-id="@Model.Skill.Id">Unassign</a>
               @if (SignInManager.IsSignedIn(User)) {
                  var user = await UserManager.GetUserAsync(User);
                  if (user != null) {
                     var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                     if (isOwner) {
                        <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@Model.Skill.Id">Delete</a>
                     }
                  }
               }
            </div>
         </div>
      </div>
   </div>
</div>
