@page
@model WCSTrainer.Pages.Skills.DetailsModel
@{
   ViewData["Title"] = "Details";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Skill #@Model.Skill.Id</p>
            <div class="field-container">
               <div class="text-group">
                  <p class="title">Name</p>
                  <p class="info">@Model.Skill.Name</p>
               </div>
               <div class="text-group">
                  <p class="title">Description</p>
                  <p class="info">@Model.Skill.Description</p>
               </div>
               <div class="text-group">
                  <p class="title">Included Lessons</p>
                  <div class="info">
                     @foreach (var lesson in Model.Skill.Lessons) {
                        <div class="pill">@lesson.Name</div>
                     }
                  </div>
               </div>
               <div class="text-group">
                  <p class="title">Assigned To</p>
                  <div class="info">
                     @foreach (var person in Model.Skill.Employees) {
                        <div class="pill">@person.FirstName @person.LastName</div>
                     }
                  </div>
               </div>
            </div>
            <br />
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.Skill.Id">
                  Edit
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
