@page
@model WCSTrainer.Pages.TrainerGroups.DetailsModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager


@{
   var isOwner = false;
   var isAdmin = false;
   var user = await UserManager.GetUserAsync(User);
   if (user != null) {
      isOwner = await UserManager.IsInRoleAsync(user, "owner");
      isAdmin = await UserManager.IsInRoleAsync(user, "admin");
   }
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">@Model.TrainerGroup.Name</p>
            <div class="field-container">
               <div class="field-section-container">
                  <div class="field-section">
                     <div class="title-row">
                        <p class="title">Details</p>
                     </div>
                     <table>
                        <tbody>
                              <tr>
                                 <td class="label">Group ID</td>
                                 <td class="text">@Model.TrainerGroup.Id</td>
                              </tr>
                           <tr>
                              <td class="label">Name</td>
                              <td class="text">@Model.TrainerGroup.Name</td>
                           </tr>
                           <tr>
                              <td class="label">Members</td>
                              <td class="text">
                                 <div class="pills-container">
                                    @foreach (var member in Model.TrainerGroup.Trainers) {
                                       <a href="/Employees/Details?id=@member.Id" class="pill">@member.FirstName @member.LastName</a>
                                    }
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
            <div class="btn-container">
               <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.TrainerGroup.Id">Edit</a>
               @if (isOwner || isAdmin) {
                  <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@Model.TrainerGroup.Id">Delete</a>
               }
            </div>
         </div>
      </div>
   </div>
</div>