@page
@model WCSTrainer.Pages.TrainerGroups.IndexModel

@{
   ViewData["Title"] = "Index";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="flex-column">
            <p class="title">Trainer Group Editor</p>
            <div class="order-list2">
               <table id="dataTable">
                  <tr>
                     <th>Group ID</th>
                     <th>Name</th>
                     <th></th>
                  </tr>
                  @foreach (var item in Model.TrainerGroup) {
                     <tr class="clickable">
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                           <a asp-page="./Edit" asp-route-id="@item.Id" class="btn nbg-btn btnGreen">Edit</a>
                           <a asp-page="./Details" asp-route-id="@item.Id" class="btn nbg-btn btnWhite">View</a>
                           <a asp-page="./Delete" asp-route-id="@item.Id" class="btn nbg-btn btnRed">Delete</a>
                        </td>
                     </tr>
                  }
               </table>
               <div class="sorters">
                  <div class="btns">
                     <a asp-page="Create" class="btn bg-btn btnWhite">Create Group</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


