@using System.Text.Json
@using System.Text.Json.Serialization
@model List<TrainerGroup>

<div class="people-container">
   <div class="search">
      <input type="search" id="searchInputGroups" placeholder="Search By Name" oninput="searchGroups()" />
   </div>
   @{
      var jsonOptions = new JsonSerializerOptions {
            ReferenceHandler = ReferenceHandler.Preserve,
            WriteIndented = false
         };
   }
   <ul id="groupsList" class="item-container">
      @foreach (var item in Model) {
         var groupJson = JsonSerializer.Serialize(item, jsonOptions);
         var count = item.Trainers.Count();
         <li onclick="setSelectedGroup('@groupJson', '@count', this)" class="item" data-name="@item.Name">
            <div class="info">
               <p>@item.Name</p>
               <div class="sub">
                  <p>Member Count: </p>
                  <p>@count</p>
               </div>
            </div>
            <div class="selector">
               <img src="~/images/add.svg" onclick="addItemToGroupPartial('@item.Id', '@item.Name')" />
            </div>
         </li>
      }
   </ul>
</div>

<div class="details">
   <div class="top">
      <div id="group-info-container" class="info-container">
         <p id="groupName" class="title"></p>
         <div class="info">
            <p class="one">Group ID</p>
            <p id="groupId" class="two"></p>
         </div>
         <div class="info">
            <p class="one">Member Count</p>
            <p id="groupMemberCount" class="two"></p>
         </div>
         <div class="btn-container">
            <a class="btn btnWhite bg-btn" onclick="linkToGroup()">View Details</a>
         </div>
      </div>
   </div>
   <div class="bottom">
      <div class="list-container">
         <p>Selected:</p>
         <ul id="groupTempList" class="list"></ul>
      </div>

      <div class="btn-container">
         <button class="btn btnWhite bg-btn" onclick="confirmGroupSelection()">Add Selection</button>
      </div>
   </div>
</div>

<script src="~/js/groups.js"></script>

<script>
   var selectedGroup;

   function linkToGroup() {
      window.open('/TrainerGroups/Details?id=' + selectedGroup.Id, '_blank');
   }
   
   function setSelectedGroup(groupJson, count, element) {
      var groupInfoContainer = document.getElementById('group-info-container');
      if (groupInfoContainer.style.display != "flex") {
         groupInfoContainer.style.display = "flex";
      }
      selectedGroup = JSON.parse(groupJson);
      updateSelectedGroup();
      document.getElementById('groupMemberCount').textContent = count;

      highlight(element, 'groupsList');
   }

   function updateSelectedGroup() {
      document.getElementById('groupName').textContent = selectedGroup.Name;
      document.getElementById('groupId').textContent = selectedGroup.Id;
   }

   function searchGroups() {
      var input = document.getElementById('searchInputGroups');
      var filter = input.value.toUpperCase();
      var list = document.getElementById('groupsList');
      var items = list.getElementsByTagName('li');

      for (var i = 0; i < items.length; i++) {
         var name = items[i].getAttribute('data-name');
         if (name.toUpperCase().indexOf(filter) > -1) {
            items[i].style.display = "";
         } else {
            items[i].style.display = "none";
         }
      }
   }
</script>