@model ListPartialModel
@using Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="list-container">
   <div class="top">
      <form method="get" id="pageSizeForm">
         <select name="pageSize" class="drop-main" value="@Model.MaxCount" onchange="this.form.submit()">
            <option value="10" selected="@(Model.MaxCount == 10)">10</option>
            <option value="25" selected="@(Model.MaxCount == 25)">25</option>
            <option value="50" selected="@(Model.MaxCount == 50)">50</option>
         </select>
      </form>
   </div>
   <div class="order-list">
      <ul>
         @foreach (var item in Model.Items) {
            <li id="@item.Name" class="archived searchable">
               <div class="info">
                  <div class="title">
                     <a class="name unarchived" asp-page="./Details" asp-route-id="@item.Id">@item.Name</a>
                  </div>
                  <div class="sub">
                     <div class="sub-text">
                        <p class="identifier">@item.Description</p>
                     </div>
                  </div>
               </div>
               <div class="btns">
                  @if (SignInManager.IsSignedIn(User)) {
                     var user = await UserManager.GetUserAsync(User);
                     if (user != null) {
                        var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                        if (isOwner) {
                           <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        }
                     }
                  }
               </div>
            </li>
         }
      </ul>
   </div>
</div>