@using System.Text.Json
@using System.Text.Json.Serialization
@model List<Employee>

<div class="people-container">
   <div class="search">
      <input type="search" placeholder="Search By Name" />
   </div>
   @{
      var jsonOptions = new JsonSerializerOptions {
            ReferenceHandler = ReferenceHandler.Preserve,
            WriteIndented = false
      };
   }
   <div class="btns-container">
      <div class="btns">
         <div id="traineeBtn" class="btn" onclick="toggleView('trainees')">Trainees</div>
         <div id="trainerBtn" class="btn" onclick="toggleView('trainers')">Trainers</div>
      </div>
   </div>
   <ul id="traineesList" class="item-container">
      @foreach (var item in Model) {
         if (item.Status == "Trainee") {
            var employeeJson = JsonSerializer.Serialize(item, jsonOptions);
            <li onclick="setSelected('@employeeJson')" class="item">
               <div class="photo">
                  <div class="frame"></div>
               </div>
               <div class="info">
                  <p>@item.FirstName @item.LastName</p>
                  <div class="sub">
                     <p>Status: </p>
                     <p class="@(item.Status == "Trainer" ? "highlight" : "")">@item.Status</p>
                  </div>
               </div>
               <div class="selector">
                  <img src="~/images/add.svg" onclick="addItemToPartial('@item.Id', '@item.FirstName', '@item.LastName')" />
               </div>
            </li>
         }
      }
   </ul>
   <ul id="trainersList" class="item-container">
      @foreach (var item in Model) {
         if (item.Status == "Trainer") {
            var employeeJson = JsonSerializer.Serialize(item, jsonOptions);
            <li onclick="setSelected('@employeeJson')" class="item">
               <div class="photo">
                  <div class="frame"></div>
               </div>
               <div class="info">
                  <p>@item.FirstName @item.LastName</p>
                  <div class="sub">
                     <p>Status: </p>
                     <p class="@(item.Status == "Trainer" ? "highlight" : "")">@item.Status</p>
                  </div>
               </div>
               <div class="selector">
                  <img src="~/images/add.svg" onclick="addItemToPartial('@item.Id', '@item.FirstName', '@item.LastName')" />
               </div>
            </li>
         }
      }
   </ul>
</div>

<div class="details">
   <div class="top">
      <div id="info-container" class="info-container">
         <p id="name" class="title"></p>
         <div class="info">
            <p class="one">Employee ID</p>
            <p id="employeeId" class="two"></p>
         </div>
         <div class="info">
            <p class="one">Status</p>
            <p id="status" class="two"></p>
         </div>
         <div class="btn-container">
            <a class="btn btnWhite bg-btn" onclick="linkToUser()">View User Details</a>
         </div>
      </div>
   </div>
   <div class="bottom">
      <div class="list-container">
         <p>Selected:</p>
         <ul id="peopleTempList" class="list"></ul>
      </div>

      <div class="btn-container">
         <button class="btn btnWhite bg-btn" onclick="confirmPeopleSelection()">Add Selection</button>
      </div>
   </div>
</div>

<script src="~/js/component.js"></script>
<script src="~/js/people.js"></script>

<script>
   var traineesList = document.getElementById("traineesList");
   var trainersList = document.getElementById("trainersList");
   var traineeBtn = document.getElementById("traineeBtn");
   var trainerBtn = document.getElementById("trainerBtn");
   trainersList.style.display = "none";
   traineeBtn.classList.add("selected");

   function linkToUser() {
      window.open('/Accounts/Details?id=' + selected.UserAccountId, '_blank');
   }

   function toggleView(type) {
      if (type == "trainees") {
         traineesList.style.display = "flex";
         trainersList.style.display = "none";
         traineeBtn.classList.add("selected");
         trainerBtn.classList.remove("selected");
      } else if (type == "trainers") {
         traineesList.style.display = "none";
         trainersList.style.display = "flex";
         traineeBtn.classList.remove("selected");
         trainerBtn.classList.add("selected");
      }
   }

   var selected;
   function setSelected(employeeJson) {
      var infoContainer = document.getElementById('info-container');
      if (infoContainer.style.display != "flex") {
         infoContainer.style.display = "flex";
      }
      selected = JSON.parse(employeeJson);
      updateSelected();
   }

   function updateSelected() {
      document.getElementById('name').textContent = selected.FirstName + " " + selected.LastName;
      document.getElementById('status').textContent = selected.Status;
      document.getElementById('employeeId').textContent = selected.Id;
   }
</script>