@using System.Text.Json
@using System.Text.Json.Serialization
@model List<Employee>

@functions {
   public class Person {
      public int Id { get; set; }
      public string Name { get; set; } = string.Empty;
      public string Status { get; set; } = string.Empty;
      public string Department { get; set; } = string.Empty;
   }
}

<div class="people-container">
   <div class="search">
      <input class="search-box" type="search" id="searchInputPeople" placeholder="Search By Name" oninput="searchEmployees()" />
   </div>
   @{
      var jsonOptions = new JsonSerializerOptions {
            ReferenceHandler = ReferenceHandler.Preserve,
            WriteIndented = false
      };
   }
   <div class="btns-container">
      <div class="btns">
         <div id="traineeBtn" class="btn" onclick="toggleView('trainees')">Trainees</div>
         <div id="trainerBtn" class="btn" onclick="toggleView('trainers')">Trainers</div>
      </div>
   </div>
   @{
      var traineeList = new Dictionary<Person, string>();
      var trainerList = new Dictionary<Person, string>();

      foreach (var item in Model) {
         var newPerson = new Person {
               Id = item.Id,
               Name = item.FirstName + " " + item.LastName,
               Status = item.Status,
               Department = item.Department
         };
         var employeeJson = JsonSerializer.Serialize(newPerson, jsonOptions);
         if (item.Status == "Trainer") {
            trainerList.Add(newPerson, employeeJson);
         } else {
            traineeList.Add(newPerson, employeeJson);
         }
      }
   }
   
   <ul id="traineesList" class="item-container">
      @foreach (var item in traineeList) {
         <li onclick="selectTrainee('@item.Value', this)" class="item" data-name="@item.Key.Name">
            <div class="info">
               <p>@item.Key.Name</p>
            </div>
            <div class="selector">
               <img src="~/images/add.svg" onclick="addItemToPartial('@item.Key.Id', '@item.Key.Name')" />
            </div>
         </li>
      }
   </ul>
   <ul id="trainersList" class="item-container">
      @foreach (var item in trainerList) {
         <li onclick="selectTrainer('@item.Value', this)" class="item" data-name="@item.Key.Name">
            <div class="info">
               <p>@item.Key.Name</p>
            </div>
            <div class="selector">
               <img src="~/images/add.svg" onclick="addItemToPartial('@item.Key.Id', '@item.Key.Name')" />
            </div>
         </li>
      }
   </ul>
</div>

<div class="details">
   <div class="top">
      <div id="info-container" class="info-container">
         <p id="name" class="title"></p>
         <div class="info">
            <p class="one">Employee ID</p>
            <p id="employeeId" class="two"></p>
         </div>
         <div class="info">
            <p class="one">Status</p>
            <p id="status" class="two"></p>
         </div>
         <div class="info">
            <p class="one">Department</p>
            <p id="department" class="two"></p>
         </div>
         <div class="btn-container">
            <a class="btn btnWhite bg-btn" onclick="linkToUser()">View User Details</a>
         </div>
      </div>
   </div>
   <div class="bottom">
      <div class="list-container">
         <p>Selected:</p>
         <ul id="peopleTempList" class="list"></ul>
      </div>

      <div class="btn-container">
         <button class="btn btnWhite bg-btn" onclick="confirmPeopleSelection()">Add Selection</button>
      </div>
   </div>
</div>

<script src="~/js/component.js"></script>

<script>
   var traineesList = document.getElementById("traineesList");
   var trainersList = document.getElementById("trainersList");
   var traineeBtn = document.getElementById("traineeBtn");
   var trainerBtn = document.getElementById("trainerBtn");
   trainersList.style.display = "none";
   traineeBtn.classList.add("selected");

   function linkToUser() {
      window.open('/Employees/Details?id=' + selected.Id, '_blank');
   }

   function toggleView(type) {
      if (type == "trainees") {
         traineesList.style.display = "flex";
         trainersList.style.display = "none";
         traineeBtn.classList.add("selected");
         trainerBtn.classList.remove("selected");
      } else if (type == "trainers") {
         traineesList.style.display = "none";
         trainersList.style.display = "flex";
         traineeBtn.classList.remove("selected");
         trainerBtn.classList.add("selected");
      }
      searchEmployees();
   }

   var selected;

   function selectTrainer(json, element) {
      setSelected(json, element, 'trainersList');
   }

   function selectTrainee(json, element) {
      setSelected(json, element, 'traineesList');
   }

   function setSelected(employeeJson, element, list) {
      var infoContainer = document.getElementById('info-container');
      if (infoContainer.style.display != "flex") {
         infoContainer.style.display = "flex";
      }
      selected = JSON.parse(employeeJson);
      updateSelected();

      highlight(element, list);
   }

   function updateSelected() {
      document.getElementById('name').textContent = selected.Name;
      document.getElementById('status').textContent = selected.Status;
      document.getElementById('department').textContent = selected.Department;
      document.getElementById('employeeId').textContent = selected.Id;
   }

   function searchEmployees() {
      var input = document.getElementById('searchInputPeople');
      var filter = input.value.toUpperCase();
      var lists = [traineesList, trainersList];

      lists.forEach(function (list) {
         var items = list.getElementsByTagName('li');
         for (var i = 0; i < items.length; i++) {
            var name = items[i].getAttribute('data-name');
            if (name.toUpperCase().indexOf(filter) > -1) {
               items[i].style.display = "";
            } else {
               items[i].style.display = "none";
            }
         }
      });
   }
</script>