@page
@model WCSTrainer.Pages.AccountManager.IndexModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="flex-column">
            <div class="user-form">
               <div class="btn-container">
                  <a id="register" asp-area="Identity" asp-page="/Account/Register" class="btn bg-btn btnWhite">Register New Account</a>
               </div>
            </div>
            <br />
            <div class="order-list2">
               <table id="dataTable">
                  <tr>
                     <th>Employee ID</th>
                     <th>Name</th>
                     <th>Job Title</th>
                     <th>Shift</th>
                     <th>Role</th>
                     <th>Activity</th>
                  </tr>
                  @foreach (var user in Model.Users.OrderBy(u => u.UserName)) {
                     if (user.Employee != null) {
                        <tr class="clickable" onclick="window.location.href='./Accounts/Details?id=@user.Id'">
                           <td>@user.Employee.EmployeeID</td>
                           <td>@user.Employee.FirstName @user.Employee.LastName</td>
                           <td>@user.Employee.JobTitle</td>
                           <td>@user.Employee.Shift</td>
                           <td>
                              @{
                                 var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                                 var isAdmin = await UserManager.IsInRoleAsync(user, "admin");
                                 var isUser = await UserManager.IsInRoleAsync(user, "user");

                                 if (isOwner) {
                                    <p>Owner</p>
                                 } else if (isAdmin) {
                                    <p>Admin</p>
                                 } else if (isUser) {
                                    <p>User</p>
                                 } else {
                                    <p>Guest</p>
                                 }
                              }
                           </td>
                           <td>
                              @{
                                 if (user.Employee.Active) {
                                    <p>Active</p>
                                 } else {
                                    <p>Inactive</p>
                                 }
                              }
                           </td>
                        </tr>
                     }
                  }
               </table>
            </div>
         </div>
      </div>
   </div>
</div>