@page
@model WCSTrainer.Pages.Lessons.IndexModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@{
   var isOwner = false;
   var user = await UserManager.GetUserAsync(User);
   if (user != null)
   {
      isOwner = await UserManager.IsInRoleAsync(user, "owner");
   }
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="list-container">
            <ul class="category-container">
               @foreach (var category in Model.CategoryList)
               {
                  <li id="@category.Name @category.Id" class="category searchable">
                     <div class="category-title">
                        <p>@category.Name</p>
                        @if (isOwner)
                        {
                           <div class="btn-container">
                              <a asp-page="./Category/Edit" asp-route-id="@category.Id">
                                 <img src="~/images/Edit.svg" />
                              </a>
                              <a asp-page="./Category/Delete" asp-route-id="@category.Id">
                                 <img src="~/images/Delete.svg" />
                              </a>
                           </div>
                        }
                     </div>
                     <ul class="skill-list">
                        @foreach (var lesson in category.Lessons)
                        {
                           <li id="@lesson.Name @lesson.Id" class="skill searchable2">
                              <a asp-page="./Details" asp-route-id="@lesson.Id">- @lesson.Name</a>
                           </li>
                        }
                     </ul>
                  </li>
               }
            </ul>
         </div>
         <script src="~/js/listdisplay.js"></script>
         <div class="tool-container">
            <div class="tools">
               <p class="title">Options:</p>
               <div class="search">
                  <input class="search-box" id="searchInput" placeholder="Search Categories" type="search" oninput="update(this, 'searchable')" />
                  <input class="search-box" id="searchInput" placeholder="Search Lessons" type="search" oninput="update(this, 'searchable2')" />
               </div>
               <div class="btns">
                  <a asp-page="Create" class="btn btnMenu">Create Lesson</a>
                  <a asp-page="./Category/Create" class="btn btnMenu">Create Category</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>