@page
@model WCSTrainer.Pages.TrainingOrders.AllViewModel
@{
   ViewData["Title"] = "AllView";
}

<div class="panel">
   <div class="body">
      <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
      <div class="properties">
         <div class="order-list2">
            <div class="sorters">
               <div class="btns">
                  <button onclick="sortTable(0)" class="btn bg-btn btnWhite">ID Number</button>
                  <button onclick="sortTable(3)" class="btn bg-btn btnWhite">Priority Level</button>
               </div>
            </div>
            <table id="dataTable">
               <tr>
                  <th>Order ID</th>
                  <th>Status</th>
                  <th>Trainee</th>
                  <th>Priority Level</th>
               </tr>
               @foreach (var item in Model.TrainingOrder.Reverse()) {
                  if (Model.listCount < Model.maxCount) {
                     <tr class="clickable">
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        @foreach (var employee in Model.Employees) {
                           if (employee.Id == item.TraineeId) {
                              <td>@employee.FirstName @employee.LastName</td>
                           }
                        }
                        <td>@Html.DisplayFor(modelItem => item.Priority)</td>
                     </tr>
                     Model.listCount++;
                  }
               }
            </table>
         </div>
      </div>
   </div>
</div>

<script>
   var sortOrder = true;

   function sortTable(column) {
      var table = document.getElementById("dataTable");
      var rows = Array.from(table.rows).slice(1);

      rows.sort(function (row1, row2) {
         var x = parseFloat(row1.cells[column].innerText);
         var y = parseFloat(row2.cells[column].innerText);
         return sortOrder ? x - y : y - x;
      });

      rows.forEach(function (row) {
         table.appendChild(row);
      });

      sortOrder = !sortOrder;
   }

   function submitForm() {
      document.getElementById('maxCountForm').submit();
   }

</script>