@page
@model WCSTrainer.Pages.TrainingOrders.AllViewModel
@{
    ViewData["Title"] = "AllView";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a href="TrainingOrders"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="order-list2">
                <div class="sorters">
                    <p>Priority Settings</p>
                    <button onclick="sortTable(3)" class="btn">Begin Date</button>
                    <button onclick="sortTable(0)" class="btn">Order ID</button>
                </div>
                <table id="dataTable">
                    <tr>
                        <th>Order ID</th>
                        <th>Trainee</th>
                        <th>Status</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Location</th>
                    </tr>
                    @foreach (var item in Model.TrainingOrder) {
                        <tr class="clickable">
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.trainee)</td>
                            <td>Active</td>
                            <td>@Html.DisplayFor(modelItem => item.beginDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.endDate)</td>
                            <td>@Html.DisplayFor(modelItem => item.location)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<script>

    function sortTable(column) {
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("dataTable");
        switching = true;

        while (switching) {
            switching = false;
            rows = table.rows; 

            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[column];
                y = rows[i + 1].getElementsByTagName("TD")[column];

                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                }
            }

            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
            }
        }
    }

</script>