@page
@model WCSTrainer.Pages.TrainingOrders.ApprovalModel

<div id="groups-component" class="people-component hidden">
   <partial name="_Groups" model="Model.TrainerGroups" />
</div>
<div id="people-component" class="people-component hidden">
   <partial name="_People" model="Model.Employees" />
</div>
<div class="overlay hidden" onclick="closeComponent()"></div>

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <p class="title">Approve Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
            <div class="field-container">
               @if (Model.TrainingOrder.Status == "Approval") {
                  <form method="post">
                     <input asp-for="TrainingOrder.Id" hidden />
                     <div asp-validation-summary="All" class="text-danger"></div>
                     <input asp-for="TrainingOrder.CreateDate" type="hidden" />
                     <input asp-for="TrainingOrder.Status" type="hidden" />
                     <input asp-for="TrainingOrder.LessonId" hidden />
                     <input asp-for="TrainingOrder.TraineeId" hidden />
                     <input asp-for="TrainingOrder.ParentSkillId" hidden />
                     <input asp-for="TrainingOrder.CreatedByUserId" hidden />

                     <input hidden id="employeesData" value="@ViewData["EmployeesJson"]" />
                     <input hidden id="trainergroupsData" value="@ViewData["TrainerGroupsJson"]" />

                     <div class="form-group">
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Trainers</p>
                              <span asp-validation-for="@Model.SelectedTrainerString" class="text-danger"></span>
                           </div>
                           <div class="selections">
                              <ul id="trainerList" class="pill-container"></ul>
                              <div class="btn bg-btn btnWhite" onclick="openComponent('trainer')"><p>Select</p></div>
                              <input id="trainerInput" asp-for="@Model.SelectedTrainerString" type="hidden" />
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Trainer Groups</p>
                              <span asp-validation-for="@Model.SelectedTrainerGroupString" class="text-danger"></span>
                           </div>
                           <div class="selections">
                              <ul id="groupList" class="pill-container"></ul>
                              <div class="btn bg-btn btnWhite" onclick="openComponent('group')">Select</div>
                              <input id="groupInput" asp-for="@Model.SelectedTrainerGroupString" type="hidden" />
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Req. Training Hours</p>
                              <span asp-validation-for="TrainingOrder.Duration" class="text-danger"></span>
                           </div>
                           <input type="text" asp-for="TrainingOrder.Duration" class="form-control" />
                        </div>
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Priority Level</p>
                              <span asp-validation-for="TrainingOrder.Priority" class="text-danger"></span>
                           </div>
                           <select asp-for="TrainingOrder.Priority" class="form-drop2">
                              <option value="High">High</option>
                              <option value="Medium">Medium</option>
                              <option value="Low">Low</option>
                           </select>
                        </div>
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Begin Date</p>
                              <span asp-validation-for="TrainingOrder.BeginDate" class="text-danger"></span>
                           </div>
                           <input type="date" asp-for="TrainingOrder.BeginDate" class="form-control" />
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Location</p>
                              <span asp-validation-for="TrainingOrder.LocationId" class="text-danger"></span>
                           </div>
                           <select asp-for="TrainingOrder.LocationId" class="form-control" asp-items="@Model.Locations">
                           </select>
                        </div>
                        <div class="form">
                           <div class="labels">
                              <p class="control-label">Learning Medium</p>
                              <span asp-validation-for="TrainingOrder.Medium" class="text-danger"></span>
                           </div>
                           <input asp-for="TrainingOrder.Medium" class="form-control" />
                        </div>
                     </div>
                     <div class="form-group">
                        <div class="btn-container">
                           <input type="submit" value="Approve" class="btn bg-btn btnGreen" />
                        </div>
                     </div>
                  </form>
               } else {
                  <p>No.</p>
               }
            </div>
         </div>
      </div>
   </div>
</div>