@page
@model WCSTrainer.Pages.TrainingOrders.AssignModel
@{
    ViewData["Title"] = "Assign";
}

<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
        <div class="properties">
            <div class="user-form">
                <p class="title">Assign Training</p>
                <p class="sub">Assign sets of training orders which teach a certain skill to employees.</p>
                <div class="field-container">

                    <p>Select and view a skill.</p>
                    <select asp-for="SelectedSkillId" asp-items="@Model.selectSkills"></select>

                    @if (Model.selectedSkill != null) {
                        <div>
                            <p>@Model.selectedSkill.Name</p>
                            <p>@Model.selectedSkill.Description</p>
                            @foreach (var order in Model.selectedSkill.TrainingOrders) {
                                <div class="pill">Order #@order.Id</div>
                            }
                        </div>
                    }

                    <p>Apply the skill to an employee.</p>
                    <select asp-for="SelectedEmployeeId" asp-items="@Model.selectEmployees"></select>

                    @if (Model.selectedEmployee != null) {
                        <div>
                            <p>@Model.selectedEmployee.FirstName</p>
                            <p>@Model.selectedEmployee.LastName</p>
                            <p>@Model.selectedEmployee.Status</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>