@page
@model WCSTrainer.Pages.TrainingOrders.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="Index"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Delete Training Order</p>
                <hr />
                <div class="field-container">
                    <div class="text-group">
                        <p class="title">Description</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.description)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Trainers</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.trainers)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Trainee</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.trainee)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Begin Date</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.beginDate)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">End Date</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.endDate)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Location</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.location)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Medium</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.medium)</p>
                    </div>
                </div>

                <form method="post">
                    <input type="hidden" asp-for="TrainingOrder.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    <button class="btn3">Delete</button>
                </form>

                <a asp-page="./Index">
                    <button class="btn1">Return To Menu</button>
                </a>

            </div>

        </div>
    </div>
</div>
