@page
@model WCSTrainer.Pages.TrainingOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="Index"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>
        <div class="properties">
            <div class="user-form">
                <p class="title">Training Order ID: @Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <hr />
                <div class="field-container">

                    <div class="text-group">
                        <p class="title">Status</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.status)</p>
                    </div>

                    <div class="text-group">
                        <p class="title">Trainers</p>
                        @if (Model.TrainingOrder.trainers.Count == 1) {
                            <p class="info">@Model.TrainingOrder.trainers[0].ToString()</p>
                        } else if (Model.TrainingOrder.trainers.Count > 1) {
                            foreach (var order in Model.TrainingOrder.trainers) {
                                <p class="info">@order</p>
                            }
                        }
                    </div>

                    <div class="text-group">
                        <p class="title">Trainee</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.trainee)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Skill</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.skill)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Begin Date</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.beginDate)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">End Date</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.endDate)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Location</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.location)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Medium</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.medium)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Session Duration</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.duration) Hours</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Description</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.description)</p>
                    </div>
                    <div class="text-group">
                        <p class="title">Order Creation Date</p>
                        <p class="info">@Html.DisplayFor(model => model.TrainingOrder.createDate)</p>
                    </div>

                    <a asp-page="./Edit" asp-route-id="@Model.TrainingOrder.Id">
                        <button class="btn btn2">Edit Order</button>
                    </a>

                    <a asp-page="./Index">
                        <button class="btn btn1">Return To Menu</button>
                    </a>

                    @if (Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                        <a asp-page="./Approval" asp-route-id="@Model.TrainingOrder.Id">
                            <button class="btn btn3">Approve Order</button>
                        </a>
                    }

                </div>
            </div>
        </div>
    </div>
</div>


