@page
@using Microsoft.AspNetCore.Identity
@model WCSTrainer.Pages.TrainingOrders.DetailsModel

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

@{
   ViewData["Title"] = "Details";
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            @if (Model.TrainingOrder.Archived == true) {
               <div class="archive-warning">
                  <img src="/images/exclamation.svg" />
                  <p>You are viewing an archived document.</p>
               </div>
               <br />
            }
            <div id="contentToPrint" class="print-block">
               <p class="title">Training Order #@Model.TrainingOrder.Id</p>
               <p class="subtitle">Status: @Model.TrainingOrder.Status</p>
               <div class="field-container">
                  <component type="typeof(TrainingDetails)" 
                     render-mode="WebAssemblyPrerendered" 
                     param-OrderId="@Model.TrainingOrder.Id" 
                  />
               </div>
            </div>
            <br />
            <div class="btn-container">
               @if (!Model.TrainingOrder.Status.Equals("Completed") && !Model.TrainingOrder.Status.Equals("Verified")) {
                  <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.TrainingOrder.Id">
                     Edit Order
                  </a>
               }
               @if (Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                  <a class="btn bg-btn btnRed" asp-page="./Approval" asp-route-id="@Model.TrainingOrder.Id">
                     Approve Order
                  </a>
               } else if (Model.TrainingOrder.Status.Equals("Active")) {
                  <a class="btn bg-btn btnRed" asp-page="./Conclude" asp-route-id="@Model.TrainingOrder.Id">
                     Conclude Order
                  </a>
               } else if (Model.TrainingOrder.Status.Equals("Completed")) {
                  <a class="btn bg-btn btnRed" asp-page="./Verification" asp-route-id="@Model.TrainingOrder.Id">
                     Verify Order
                  </a>
               }

               @if (SignInManager.IsSignedIn(User)) {
                  var user = await UserManager.GetUserAsync(User);
                  if (user != null) {
                     bool isAdmin = await UserManager.IsInRoleAsync(user, "admin");
                     if (isAdmin) {
                        string text = "";
                        <form method="post" id="archiveForm">
                           @if (Model.TrainingOrder.Archived) {
                              text = "Unarchive";
                           } else {
                              text = "Archive";
                           }
                           <a class="btn bg-btn btnWhite" href="#" onclick="document.getElementById('archiveForm').submit();">
                              @text Document
                           </a>
                        </form>
                     }
                  }
               }
               <div class="btn bg-btn">
                  <img id="printButton" class="hover-img" src="/images/print.svg">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
   document.addEventListener('DOMContentLoaded', function () {
      var printButton = document.getElementById('printButton');
      if (printButton) {
         printButton.addEventListener('click', function () {
            window.print();
         });
      } else {
         console.error('Print button not found');
      }
   });
</script>