@page
@model WCSTrainer.Pages.TrainingOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

@using WCSTrainer.Components

<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
        <div class="properties">
            <div class="user-form">
                <p class="title">Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <div class="field-container">
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Status</p>
                        </div>
                        <div class="info-content">
                            @if (Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                                <p class="info awaiting">@Html.DisplayFor(model => model.TrainingOrder.Status)</p>
                            } else if (Model.TrainingOrder.Status.Equals("Active")) {
                                <p class="info active">@Html.DisplayFor(model => model.TrainingOrder.Status)</p>
                            } else if (Model.TrainingOrder.Status.Equals("Verified")) {
                                <p class="info verified">@Html.DisplayFor(model => model.TrainingOrder.Status)</p>
                            } else {
                                <p class="info completed">@Html.DisplayFor(model => model.TrainingOrder.Status)</p>
                            }
                        </div>
                    </div>
                    @if (!Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Trainers</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Model.TrainingOrder.Trainers</p>
                            </div>
                        </div>
                    }
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Trainee</p>
                        </div>
                        <div class="info-content">
                            @foreach (Models.Employee employee in Model.Employees) {
                                if (employee.Id.ToString().Equals(Model.TrainingOrder.Trainee)) {
                                    <p class="info">@employee.FirstName @employee.LastName</p>
                                }
                            }
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Priority Level</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.Priority)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Skill</p>
                        </div>
                        <div class="info-content">
                            <pre class="info">@Html.DisplayFor(model => model.TrainingOrder.Skill)</pre>
                        </div>
                    </div>
                    @if (!Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Begin Date</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Html.DisplayFor(model => model.TrainingOrder.BeginDate)</p>
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">End Date</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Html.DisplayFor(model => model.TrainingOrder.EndDate)</p>
                            </div>
                        </div>
                    }
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Location</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.Location)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Learning Medium</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.Medium)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Training Hours Needed</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.Duration) Hours</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Description</p>
                        </div>
                        <div class="info-content">
                            <pre class="info">@Html.DisplayFor(model => model.TrainingOrder.Description)</pre>
                            <p class="info" style="text-decoration: underline; color: lightblue;">Link to Training Resources</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Order Creation Date</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.CreateDate)</p>
                        </div>
                    </div>
                    @if (Model.TrainingOrder.Status.Equals("Verified")) {
                        <br></br>
                        <p style="font-size: 20px;">Verification</p>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Signed By</p>
                            </div>
                            <div class="info-content">
                                <p class="info">Aadam Husain</p>
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Date Signed</p>
                            </div>
                            <div class="info-content">
                                <p class="info">5/14/2024</p>
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Notes</p>
                            </div>
                            <div class="info-content">
                                <p class="info">No Data</p>
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Effectiveness</p>
                            </div>
                            <div class="info-content">
                                <p class="info">No Data</p>
                            </div>
                        </div>
                    }
                </div>
                <br />
                <div class="btn-container">
                    @if (!Model.TrainingOrder.Status.Equals("Completed") & !Model.TrainingOrder.Status.Equals("Verified")) {
                        <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Model.TrainingOrder.Id">
                            Edit Order
                        </a>
                    }
                    @if (Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                        <a class="btn bg-btn btnRed" asp-page="./Approval" asp-route-id="@Model.TrainingOrder.Id">
                            Approve Order
                        </a>
                    } else if (Model.TrainingOrder.Status.Equals("Active")) {
                        <a class="btn bg-btn btnRed" asp-page="./Conclude" asp-route-id="@Model.TrainingOrder.Id">
                            Conclude Order
                        </a>
                    } else if (Model.TrainingOrder.Status.Equals("Completed")) {
                        <a class="btn bg-btn btnRed" asp-page="./Verification" asp-route-id="@Model.TrainingOrder.Id">
                            Verify Order
                        </a>
                    }
                </div>
            </div>
        </div>
    </div>
</div>


