@page
@using Microsoft.AspNetCore.Identity
@model WCSTrainer.Pages.TrainingOrders.DetailsModel

@inject SignInManager<UserAccount> SignInManager
@inject UserManager<UserAccount> UserManager

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            @if (SignInManager.IsSignedIn(User))
            {
               var user = await UserManager.GetUserAsync(User);
               if (user != null)
               {
                  var isOwner = await UserManager.IsInRoleAsync(user, "owner");
                  var isAdmin = await UserManager.IsInRoleAsync(user, "admin");

                  @if (Model.TrainingOrder.Archived == true)
                  {
                     if (isAdmin || isOwner)
                     {
                        <component type="typeof(TrainingDetails)" render-mode="WebAssemblyPrerendered" param-OrderId="@Model.TrainingOrder.Id" />
                        <div class="btn-container">
                           @{
                              <div id="printButton" class="btn bg-btn btnWhite">
                                 <img class="hover-img" src="/images/print.svg">
                              </div>

                              if (isAdmin || isOwner)
                              {
                                 string text = Model.TrainingOrder.Archived ? "Unarchive" : "Archive";
                                 <form method="post" id="archiveForm">
                                    <a class="btn bg-btn btnWhite" href="#" onclick="document.getElementById('archiveForm').submit();">
                                       @text Document
                                    </a>
                                 </form>
                              }

                              if (isOwner)
                              {
                                 <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@Model.TrainingOrder.Id"> Delete</a>
                              }
                           }

                        </div>
                     }
                     else
                     {
                        <p>You do not have permission to view this document.</p>
                     }
                  }
                  else
                  {
                     <component type="typeof(TrainingDetails)" render-mode="WebAssemblyPrerendered" param-OrderId="@Model.TrainingOrder.Id" />
                     <div class="btn-container">
                        @{
                           var Status = Model.TrainingOrder.Status;
                           var Id = Model.TrainingOrder.Id;

                           if (Status.Equals("Active"))
                           {
                              <a class="btn bg-btn btnRed" asp-page="./Conclude" asp-route-id="@Id">Conclude Order</a>
                           }

                           if (isAdmin || isOwner)
                           {
                              if (Model.TrainingOrder.TraineeId != user.EmployeeId)
                              {
                                 if (Status.Equals("Approving"))
                                 {
                                    <a class="btn bg-btn btnRed" asp-page="./Approval" asp-route-id="@Id">Approve Order</a>
                                 }
                                 else if (Status.Equals("Scheduling"))
                                 {
                                    <a class="btn bg-btn btnRed" asp-page="./Scheduling" asp-route-id="@Id">Schedule Order</a>
                                 }
                                 else if (Status.Equals("Completed"))
                                 {
                                    <a class="btn bg-btn btnRed" asp-page="./Verification" asp-route-id="@Id">Verify Order</a>
                                 }

                                 <a class="btn bg-btn btnGreen" asp-page="./Edit" asp-route-id="@Id">Edit Order</a>
                              }
                           }

                           <div id="printButton" class="btn bg-btn btnWhite">
                              <img class="hover-img" src="/images/print.svg">
                           </div>

                           if (isAdmin || isOwner)
                           {
                              string text = Model.TrainingOrder.Archived ? "Unarchive" : "Archive";
                              <form method="post" id="archiveForm">
                                 <a class="btn bg-btn btnWhite" href="#" onclick="document.getElementById('archiveForm').submit();">
                                    @text Document
                                 </a>
                              </form>
                           }

                           if (isOwner)
                           {
                              <a class="btn bg-btn btnRed" asp-page="./Delete" asp-route-id="@Model.TrainingOrder.Id"> Delete</a>
                           }
                        }

                     </div>
                  }


               }
            }
         </div>
      </div>
   </div>
</div>

<script src="~/js/details.js" />