@page
@model WCSTrainer.Pages.TrainingOrders.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<div class="panel">
    <div class="body">

        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a asp-page="Index"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>

        <div class="properties">
            <div class="user-form">
                <p class="title">Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <hr />
                <div class="field-container">

                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Status</p>
                        </div>
                        <div class="info-content">
                            @if (Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                                <p class="info awaiting">@Html.DisplayFor(model => model.TrainingOrder.status)</p>
                            } else if (Model.TrainingOrder.status.Equals("Active")) {
                                <p class="info active">@Html.DisplayFor(model => model.TrainingOrder.status)</p>
                            } else {
                                <p class="info completed">@Html.DisplayFor(model => model.TrainingOrder.status)</p>
                            }
                        </div>
                    </div>

                    @if (!Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Trainers</p>
                            </div>
                            <div class="info-content">
                                @foreach (string trainer in Model.TrainingOrder.trainers) {
                                    <p class="info">@trainer</p>

                                }
                            </div>
                        </div>
                    }

                    

                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Trainee</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.trainee)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Skill</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.skill)</p>
                        </div>
                    </div>
                    @if (!Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Begin Date</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Html.DisplayFor(model => model.TrainingOrder.beginDate)</p>
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">End Date</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Html.DisplayFor(model => model.TrainingOrder.endDate)</p>
                            </div>
                        </div>
                    }
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Location</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.location)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Medium</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.medium)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Session Duration</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.duration) Hours</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Description</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.description)</p>
                        </div>
                    </div>
                    <div class="text-group">
                        <div class="identifier">
                            <p class="title">Order Creation Date</p>
                        </div>
                        <div class="info-content">
                            <p class="info">@Html.DisplayFor(model => model.TrainingOrder.createDate)</p>
                        </div>
                    </div>
                </div>
                @if (!Model.TrainingOrder.status.Equals("Completed")) {
                    <a class="btn btnGreen" asp-page="./Edit" asp-route-id="@Model.TrainingOrder.Id">
                        Edit Order
                    </a>
                }
                <a class="btn btnBlue" asp-page="./Index">Return To Menu</a>

                @if (Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                    <a class="btn btnRed" asp-page="./Approval" asp-route-id="@Model.TrainingOrder.Id">
                        Approve Order
                    </a>
                } else if (Model.TrainingOrder.status.Equals("Active")) {
                    <a class="btn btnRed" asp-page="./Conclude" asp-route-id="@Model.TrainingOrder.Id">
                        Conclude Training
                    </a>
                }
            </div>
        </div>
    </div>
</div>


