@page
@model Pages.TrainingOrders.EditModel

@{
    ViewData["Title"] = "Edit";
}

@using WCSTrainer.Components

<div id="sv-comp-people" class="people-component hidden"></div>
<div class="overlay hidden"></div>

<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />
        <div class="properties">
            <div class="user-form">
                <p class="title">Edit Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <div class="field-container">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TrainingOrder.Id" />
                        <input asp-for="TrainingOrder.Status" type="hidden" />
                        <input type="hidden" id="employeesData" value="@ViewData["EmployeesJson"]" />
                        <input type="hidden" id="trainergroupsData" value="@ViewData["TrainerGroupsJson"]" />
                        @if (!Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                            <div class="form-group">
                                <div class="form">
                                    <div class="labels">
                                        <span asp-validation-for="TrainingOrder.Trainers" class="text-danger"></span>
                                    </div>
                                    <div class="selections">
                                        <div class="btn bg-btn btnWhite" onclick="openComponent('trainers')"><p>Select Trainers</p></div>
                                        <ul id="trainerList" class="pill-container">
                                            @foreach (var trainer in Model.TrainingOrder.Trainers) {
                                                <li draggable="true" class="pill">@trainer.FirstName @trainer.LastName</li>
                                            }
                                        </ul>
                                        <input id="trainersInput" asp-for="TrainingOrder.Trainers" type="hidden" />
                                    </div>
                                </div>
                            </div>
                        } else {
                            <input id="trainersInput" asp-for="TrainingOrder.Trainers" type="hidden" />
                        }
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <span asp-validation-for="TrainingOrder.Trainee" class="text-danger"></span>
                                </div>
                                <div class="selections">
                                    <div class="btn bg-btn btnWhite" onclick="openComponent('trainees')"><p>Select Trainee</p></div>
                                    <ul id="trainee" class="pill-container">
                                        @{
                                            var trainee = Model.TrainingOrder.Trainee;
                                            if (trainee != null) {
                                                <li value="@trainee.Id" class="pill">@trainee.FirstName @trainee.LastName</li>
                                            }
                                        }
                                    </ul>
                                    <input id="traineeInput" asp-for="TrainingOrder.Trainee" type="hidden"/>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Skill</p>
                                    <span asp-validation-for="TrainingOrder.Skill" class="text-danger"></span>
                                </div>
                                <textarea rows="4" asp-for="TrainingOrder.Skill" placeholder="Describe the skill being trained and the goal."></textarea>
                            </div>
                        </div>
                        @if (!Model.TrainingOrder.Status.Equals("Awaiting Approval")) {
                            <div class="form-group">
                                <div class="form">
                                    <div class="labels">
                                        <p class="control-label">Begin Date</p>
                                        <span asp-validation-for="TrainingOrder.BeginDate" class="text-danger"></span>
                                    </div>
                                    <input type="date" asp-for="TrainingOrder.BeginDate" class="form-control" />
                                </div>
                                <div class="form">
                                    <div class="labels">
                                        <p class="control-label">End Date</p>
                                        <span asp-validation-for="TrainingOrder.EndDate" class="text-danger"></span>
                                    </div>
                                    <input type="date" asp-for="TrainingOrder.EndDate" class="form-control" />
                                </div>
                            </div>
                        } else {
                            <input type="hidden" asp-for="TrainingOrder.EndDate" />
                            <input type="hidden" asp-for="TrainingOrder.BeginDate" />
                        }
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Training Hours Needed</p>
                                    <span asp-validation-for="TrainingOrder.Duration" class="text-danger"></span>
                                </div>
                                <input asp-for="TrainingOrder.Duration" class="form-control" />
                            </div>
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Learning Medium</p>
                                    <span asp-validation-for="TrainingOrder.Medium" class="text-danger"></span>
                                </div>
                                <input asp-for="TrainingOrder.Medium" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Priority Level</p>
                                    <span asp-validation-for="TrainingOrder.Priority" class="text-danger"></span>
                                </div>
                                <select asp-for="TrainingOrder.Priority" class="form-drop2">
                                    <option value="High">High</option>
                                    <option value="Medium">Medium</option>
                                    <option value="Low">Low</option>
                                </select>
                            </div>
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Location</p>
                                    <span asp-validation-for="TrainingOrder.Location" class="text-danger"></span>
                                </div>
                                <select asp-for="TrainingOrder.Location" class="form-drop2">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="btn-container">
                                    <input type="submit" value="Save" class="btn bg-btn btnGreen" />
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

<script>
    var employeesData = @Json.Serialize(Model.Employees);
    var trainergroupsData = @Json.Serialize(Model.TrainerGroups);
</script>

<script type="module">
    import { initializePeopleComponent, openComponent } from '/js/peopleComponent.js';

    document.addEventListener('DOMContentLoaded', function () {
        initializePeopleComponent();
    });

</script>


@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}