@page
@model WCSTrainer.Pages.TrainingOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<section class="modal hidden">
    <div class="one">
        <button class="btn-close btn btnRed">⨉</button>
    </div>
    <div class="two">
        <p class="title">Delete Training Order</p>
        <p class="info" id="deleteText"></p>
    </div>
    <div class="three">
        <form method="post">
            <input type="hidden" id="orderId" name="id" />
            <button id="deleteBtn" class="btn-submit btn btnRed">Delete</button>
        </form>
    </div>
</section>

<div class="overlay hidden"></div>

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <div class="ul">
                <a href=""><div class="li">Statistics</div></a>
                <a href="TrainingOrders"><div class="selected">Training Orders</div></a>
                <a href=""><div class="li">Manage Trainers</div></a>
                <a href=""><div class="li">Manage Trainees</div></a>
                <a href=""><div class="li">Account Settings</div></a>
            </div>
        </div>

        <div class="properties">
            <div class="order-list">
                <ul>
                    @foreach (var item in Model.TrainingOrder) {
                        <li class="@item.status.ToString()">
                            <a asp-page="./Details" asp-route-id="@item.Id" class="info">
                                <div class="title">
                                    <p>Training Order ID: @Html.DisplayFor(modelItem => item.Id) </p>
                                </div>
                                <div class="sub">Trainee - @Html.DisplayFor(modelItem => item.trainee)</div>
                                <div class="sub">
                                    <p>Status - </p>
                                    @if (item.status.Equals("Awaiting Approval")) {
                                        <p class="awaiting">@Html.DisplayFor(modelItem => item.status)</p>
                                    } else if (item.status.Equals("Active")) {
                                        <p class="active">@Html.DisplayFor(modelItem => item.status)</p>
                                    } else {
                                        <p class="completed">@Html.DisplayFor(modelItem => item.status)</p>
                                    }
                                </div>
                            </a>
                            <a class="btn-open btn btnRed" onclick="openModal(@item.Id)">Delete</a>
                        </li>
                    }
                </ul>
            </div>

            <div class="tools">
                <div class="search">
                    <p>Search for a training order ID:</p>
                    <input type="search">
                </div>
                <div class="selections">
                    <p class="title">Show in List:</p>
                    <div class="section">
                        <input type="checkbox" id="co" onchange="completed(this)"/>
                        <p class="info">Completed</p>
                    </div>
                    <div class="section">
                        <input type="checkbox" id="ac" onchange="active(this)" />
                        <p class="info">Active</p>
                    </div>
                    <div class="section">
                        <input type="checkbox" id="aw" onchange="awaiting(this)" />
                        <p class="info">Awaiting Approval</p>
                    </div>
                </div>
                <a asp-page="Create" class="btn btnWhite">Create New Order</a>
                <a asp-page="AllView" class="btn btnWhite">Database Planning</a>
            </div>
        </div>
    </div>
</div>

<script>
    const modal = document.querySelector(".modal");
    const overlay = document.querySelector(".overlay");
    const closeModalBtn = document.querySelector(".btn-close");
    const deleteText = document.getElementById("deleteText");
    const deleteBtn = document.querySelector("#deleteBtn");

    const openModal = function (orderID) {
        modal.classList.remove("hidden");
        overlay.classList.remove("hidden");
        document.getElementById("orderId").value = orderID;
        deleteText.textContent = "Press the delete button to confirm the deletion of Training Order #" + orderID;
    };

    const closeModal = function () {
        modal.classList.add("hidden");
        overlay.classList.add("hidden");
    };

    closeModalBtn.addEventListener("click", closeModal);
    overlay.addEventListener("click", closeModal);

    const co = document.querySelector('#co');
    const ac = document.querySelector('#ac');
    const aw = document.querySelector('#aw');

    co.checked = true;
    ac.checked = true;
    aw.checked = true;

    function toggleDisplay(className, show) {
        var elements = document.getElementsByClassName(className);
        for (var i = 0; i < elements.length; i++) {
            elements[i].style.display = show ? "flex" : "none";
        }
    }

    function completed(checkboxElem) {
        toggleDisplay("Completed", checkboxElem.checked);
    }
    function awaiting(checkboxElem) {
        toggleDisplay("Awaiting Approval", checkboxElem.checked);
    }
    function active(checkboxElem) {
        toggleDisplay("Active", checkboxElem.checked);
    }

</script>