@page
@model WCSTrainer.Pages.TrainingOrders.MonthModel
@{
}

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="scheduling">
            <div class="schedule">
               <div class="months" id="months">
                  @for (int month = 1; month <= 12; month++) {
                     DateTime date = new DateTime(Model.selectedYear, month, 1);
                     string monthName = date.ToString("MMMM");
                     <div class="days" id="days" style="display: none;">
                        @for (int day = 0; day < 30; day++) {
                           <div class="day">@day</div>
                        }
                     </div>
                  }
               </div>
            </div>
         </div>
         <div class="tool-container">
            <div class="tools">
               <p class="title">Options: </p>
               <form method="post">
                  <div class="search">
                     <p class="section-title">Search By Trainer:</p>
                     <input asp-for="searchFor" type="search" />
                  </div>
                  <div class="search">
                     <p>Year:</p>
                     <div class="side">
                        <select asp-for="selectedYear" class="form-drop2">
                           @for (int i = 0; i <= 10; i++) {
                              int newYear = (DateTime.Now.Year - 5) + i;
                              <option value="@newYear">@newYear</option>
                           }
                        </select>
                        <input type="submit" value="Search" class="btn bg-btn btnGreen" />
                     </div>
                  </div>
               </form>
               <div class="info">
                  <div class="info-section">
                     <p>Training Orders For:</p>
                     <p>@Model.searchFor</p>
                  </div>
                  <div class="info-section">
                     <p>Year:</p>
                     <p>@Model.selectedYear</p>
                  </div>
                  <div class="info-section">
                     <p>Total Training Orders:</p>
                     <p>@Model.countOrders()</p>
                  </div>
                  <div class="info-section">
                     <p>Total Training Hours: </p>
                     <p>@Model.countTotalOrderHours()</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>