@page
@model WCSTrainer.Pages.TrainingOrders.VerificationModel
@{
}

@using WCSTrainer.Pages.Components

<div class="panel">
    <div class="body">
        <component type="typeof(Sidebar)" render-mode="WebAssemblyPrerendered" />

        <div class="properties">
            <div class="user-form">
                <p class="title">Verify Training Order #@Html.DisplayFor(model => model.TrainingOrder.Id)</p>
                <div class="field-container">
                    <form method="post">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="TrainingOrder.Id"/>
                        <input asp-for="TrainingOrder.duration" type="hidden"/>
                        <input asp-for="TrainingOrder.trainers" type="hidden"/>
                        <input asp-for="TrainingOrder.trainee" type="hidden"/>

                        <input asp-for="TrainingOrder.description" type="hidden"/>
                        <input asp-for="TrainingOrder.createDate" type="hidden"/>
                        <input asp-for="TrainingOrder.beginDate" type="hidden"/>
                        <input asp-for="TrainingOrder.location" type="hidden"/>
                        <input asp-for="TrainingOrder.endDate" type="hidden"/>
                        <input asp-for="TrainingOrder.medium" type="hidden"/>
                        <input asp-for="TrainingOrder.skill" type="hidden"/>

                        <input asp-for="TrainingOrder.status" type="hidden" value="Verified" />

                        @if (!Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                            <div class="text-group">
                                <div class="identifier">
                                    <p class="title">Trainers</p>
                                </div>
                                <div class="info-content">
                                    <p class="info">@Model.TrainingOrder.trainers</p>
                                </div>
                            </div>
                        }
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Trainee</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Html.DisplayFor(model => model.TrainingOrder.trainee)</p>
                            </div>
                        </div>
                        <div class="text-group">
                            <div class="identifier">
                                <p class="title">Skill</p>
                            </div>
                            <div class="info-content">
                                <p class="info">@Html.DisplayFor(model => model.TrainingOrder.skill)</p>
                            </div>
                        </div>
                        @if (!Model.TrainingOrder.status.Equals("Awaiting Approval")) {
                            <div class="text-group">
                                <div class="identifier">
                                    <p class="title">Begin Date</p>
                                </div>
                                <div class="info-content">
                                    <p class="info">@Html.DisplayFor(model => model.TrainingOrder.beginDate)</p>
                                </div>
                            </div>
                            <div class="text-group">
                                <div class="identifier">
                                    <p class="title">End Date</p>
                                </div>
                                <div class="info-content">
                                    <p class="info">@Html.DisplayFor(model => model.TrainingOrder.endDate)</p>
                                </div>
                            </div>
                        }
                        <br />
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">How effective was the training?</p>
                                </div>
                                <textarea rows="5" /></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form">
                                <div class="labels">
                                    <p class="control-label">Signature</p>
                                </div>
                                <input class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="btn-container">
                                <input type="submit" value="Submit" class="btn bg-btn btnGreen" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>