@page
@model WCSTrainer.Pages.Employees.EditModel

@{
   ViewData["Title"] = "Edit";
}
<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="user-form">
            <div class="field-container">
               <form method="post">
                  <div asp-validation-summary="All" class="text-danger"></div>
                  <input asp-for="Employee.Id" hidden />
                  <input asp-for="Employee.UserAccountId" class="form-control" type="hidden" />
                  <input asp-for="Employee.Skills" class="form-control" type="hidden" />

                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Employee.FirstName" class="control-label"></label>
                           <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
                        </div>
                        <input asp-for="Employee.FirstName" class="form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Employee.LastName" class="control-label"></label>
                           <span asp-validation-for="Employee.LastName" class="text-danger"></span>
                        </div>
                        <input asp-for="Employee.LastName" class="form-control" />
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="labels">
                           <label asp-for="Employee.Status" class="control-label"></label>
                           <span asp-validation-for="Employee.Status" class="text-danger"></span>
                        </div>
                        <select asp-for="Employee.Status" class="form-control">
                           <option value="Trainee">Trainee</option>
                           <option value="Trainer">Trainer</option>
                        </select>
                     </div>
                  </div>
                  <div class="form-group">
                     <div class="form">
                        <div class="multi-select-wrapper">
                           <p class="label">Departments</p>
                           <div id="multi-pill-container" class=""></div>
                           <select asp-for="SelectedDepartments" multiple class="multi-select-comp" size="@Model.Departments.Count()">
                              @foreach (var dept in Model.Departments) {
                                 if (Model.Employee.TrainerDepartments.Contains(dept)) {
                                    <option selected value="@dept.Id">@dept.Name</option>
                                 } else {
                                    <option value="@dept.Id">@dept.Name</option>
                                 }
                              }
                           </select>
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <input type="submit" value="Save" class="btn bg-btn btnGreen" />
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<script src="~/js/pillMenu.js"></script>

@section Scripts {
   @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
   }
}
