@page
@model WCSTrainer.Pages.Employees.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="panel">
    <div class="body">
        <div class="side-bar">
            <ul>
                <a href="">Statistics</a>
                <a href="TrainingOrders">Training Orders</a>
                <a href="Employees" class="selected">Manage Employees</a>
                <a href="">Account Settings</a>
            </ul>
            
        </div>
        <div class="properties">
            <a asp-page="Create" class="btn btnWhite">Create New Order</a>
            <div class="order-list2">
                <table id="dataTable">
                    <tr>
                        <th>Employee ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.Employee) {
                        <tr class="clickable">
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                            <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                            <td><a asp-page="./Edit" asp-route-id="@item.Id">Edit</a></td>
                            <td><a asp-page="./Details" asp-route-id="@item.Id">Details</a></td>
                            <td><a asp-page="./Delete" asp-route-id="@item.Id">Delete</a></td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>


