@page
@model WCSTrainer.Pages.Locations.IndexModel

<div class="panel">
   <div class="body">
      <partial name="_Sidebar" />
      <div class="properties">
         <div class="list-container">
            <div class="top">
               <form method="post" id="pageSizeForm">
                  <select asp-for="MaxCount" class="drop-main" value="@Model.MaxCount" onchange="this.form.submit()">
                     <option value="10">10</option>
                     <option value="25">25</option>
                     <option value="50">50</option>
                  </select>
               </form>
            </div>
            <ul class="category-container">
               @foreach (var category in Model.CategoryList)
               {
                  <li id="@category.Name @category.Id" class="category">
                     <p class="category-title">@category.Name</p>
                     <ul class="skill-list">
                        @foreach (var lesson in category.Locations)
                        {
                           <li id="@lesson.Name @lesson.Id" class="skill">
                              <a asp-page="./Details" asp-route-id="@lesson.Id">#@lesson.Id - @lesson.Name</a>
                           </li>
                        }
                     </ul>
                  </li>
               }
            </ul>
         </div>
         <script src="~/js/listdisplay.js"></script>
         <div class="tool-container">
            <div class="tools">
               <p class="title">Options:</p>
               <div class="search">
                  <input class="search-box" id="searchInput" placeholder="Search Categories" type="search" oninput="update(this)" />
               </div>
               <div class="btns">
                  <a asp-page="Create" class="btn nbg-btn btnMenu">Create Location</a>
                  <a asp-page="CreateCategory" class="btn nbg-btn btnMenu">Create Category</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>