<div class="people-container">
    <div class="search">
        <input type="search" placeholder="Search By Name" @bind="searchText" />
    </div>
    <div class="people">
        <p>People</p>
        <br />
        @foreach (var employee in Employees) {
            if (!addTrainees) {
                if (employee.Status.Equals("Trainer")) {
                    <div class="person" value="@employee.FirstName @employee.LastName">
                        <p>@employee.FirstName @employee.LastName</p>
                        <p class="sub">Status: @employee.Status</p>
                    </div>
                }
            } else {
                <div class="person">
                    <p>@employee.FirstName @employee.LastName</p>
                    <p class="sub">Status: @employee.Status</p>
                </div>
            }
        }
    </div>
    <div class="people">
        <p>Groups</p>
        <br />
        <div class="person">
            <p>HR</p>
            <p class="sub">Member Count: 6</p>
        </div>
        <div class="person">
            <p>Shipping</p>
            <p class="sub">Member Count: 12</p>
        </div>
        <div class="person">
            <p>Sales</p>
            <p class="sub">Member Count: 7</p>
        </div>
        <div class="person">
            <p>Management</p>
            <p class="sub">Member Count: 9</p>
        </div>
    </div>
</div>
<div class="details">
    <p class="title">Firstname Lastname</p>
    <div class="info">
        <p class="one">Status:</p>
        <p class="two">Trainer</p>
    </div>
    <div class="info">
        <p class="one">Affiliated groups:</p>
        <p class="two">HR</p>
    </div>
    <div class="info">
        <p class="one">Assigned Trainings:</p>
    </div>
    <div class="trainings">
        <p class="training">Order #183 -+- 22 Hours</p>
        <p class="training">Order #162 -+- 36 Hours</p>
        <p class="training">Order #197 -+- 11 Hours</p>
        <p class="training">Order #233 -+- 24 Hours</p>
    </div>
    <a class="btn btnBlue bg-btn">Add Trainer</a>

    <PageTitle>Control Render</PageTitle>

    <h1>Control Render Example</h1>

    <label>
        <input type="checkbox" @bind="shouldRender" />
        Should Render?
    </label>

    <p>Current count: @currentCount</p>

    <p>
        <button @onclick="IncrementCount">Click me</button>
    </p>
    <p>Current count: @currentCount</p>
    <p>
        <button @onclick="IncrementCount">Click me</button>
    </p>
</div>

@code {
    @using WCSTrainer.Models

    [Parameter]
    public bool addTrainees { get; set; }
    [Parameter]
    public IList<Employee> Employees { get; set; }

    private int currentCount = 0;
    private bool shouldRender = true;

    protected override bool ShouldRender() {
        return shouldRender;
    }

    private void IncrementCount() {
        currentCount++;
    }
}
