@using WCSTrainer.Models
@model PeopleComponentModel

<div id="peopleComponent">
    <div class="search">
        <input type="search" id="searchInput" placeholder="Search By Name" />
    </div>

    <ul id="itemList">
        @foreach (var item in Model.Items) {
            <li data-id="@(item is Person p ? p.Id : ((Group)item).Id)"
                data-type="@(item is Person ? "person" : "group")">
                @if (item is Person) {
                    <div class="photo">
                        <div class="frame"></div>
                    </div>
                }
                <div class="info">
                    <p>@(item is Person pi ? pi.Name : ((Group)item).Name)</p>
                    <div class="sub">
                        <p>@(item is Person ? "Status:" : "Member Count:")</p>
                        <p class="@(item is Person person && person.Status == "Trainer" ? "highlight" : "")">
                            @(item is Person person2 ? person2.Status : ((Group)item).Count.ToString())
                        </p>
                    </div>
                </div>
                <div class="selector">
                    <img src="/images/add.svg" alt="Add">
                </div>
            </li>
        }
    </ul>

    <p>Selected:</p>

    <div class="list-container">
        <div id="selectedList" class="selected-list">
        </div>
    </div>

    <button id="addSelectionBtn" class="btn btnWhite nbg-btn">
        Add @(Model.DisplayMode == "trainers" ? "Trainers" : "Trainee")
    </button>
</div>

<div id="details" class="details">
</div>

<script src="~/js/peopleComponent.js"></script>